body {
    font-family: Arial;
}
.profil .lbl {
    margin-top: 25px;
}

.bejegyzes {
    margin: 20px;
    border: solid lightblue 1px;
    background: lightcyan;
    padding: 3px;
}

.bejegyzes .szerzo {
    font-size: 0.8em;
    text-align: left;
    position: relative;
    left: 50px;
    top: -45px;
}

.bejegyzes .szoveg {
    margin: 5px;
    font-size: 1.1em;
}

.bejegyzes .tagek {
    font-size: 0.9em;
    font-style: italic;
}

.bejegyzes .delete {
    float: right;
}

.uzenet .img {
    border-radius: 20px;
}

.uzenet .szoveg {
    border-radius: 10px;
    background-color: lightgrey;
    padding: 5px;
    top: -20px;
    position: relative;
}

.img {
    margin: 5px;
    width: 40px;
    height: 40px;
}

.barat {
    background: lightgoldenrodyellow;
    border: solid 1px yellow;
    margin: 20px;
}